.navbar {
    display: flex;
    height: 100%;
    width: 100%;
}

.logo img {
    max-width: 2rem;
    max-height: 2rem;
}

.site-title {
    height: 100%;
    width: 100%;
}

.site-title h3 {
    color: gold;
    font-size: 3rem;
}
